[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
marshmallow = "*"
python-dotenv = "*"
flask-cors = "*"
injector = "*"
flask-injector = "*"
requests = "*"
opencv-python = "*"
pillow = "*"
onnxruntime = "*"
mediapipe = "*"
boto3 = "*"
tinydb = "*"

[dev-packages]

[requires]
python_version = "3.10"
